@tailwind base;
@tailwind components;
@tailwind utilities;
//@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  //font-family: "Sora", sans-serif;
}

a.primary,
button.primary {
  border-radius: 8px;
  background: linear-gradient(180deg, #ff114b 0%, #bc002e 100%);
  box-shadow: 0px 4px 16px 0px rgba(255, 128, 54, 0.25);
  display: flex;
  padding: 8px 28px 8px 28px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.splash {
  .splash-bottom {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 20, 69, 0.56) 47.4%,
      #0a1445 97.92%
    );
  }
}

.home {
  .tags{
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .splide {
    .splide__track {
      .splide__list {
        display: flex;
        align-items: center;
        .splide__slide {
          //width: 230px!important;
          height: 345px !important;
          overflow: hidden;
          border-radius: 16px;
          border: 1px solid rgba(239, 239, 241, 0.2);
          opacity: 0.75;
          transform-origin: center;
          //transition: height .3s;
          img {
            width: 100%;
            height: 450px;
            //object-fit: cover;
          }
          &.is-active {
            //width: 300px!important;
            height: 450px !important;
            opacity: 1;
          }
        }
      }
    }
    .splide__pagination {
      display: flex;
      align-items: center;
      gap: 0px;
      margin-bottom: -50px;
      .splide__pagination__page {
        width: 8px;
        height: 8px;
        border-radius: 24px;
        background: rgba($color: #fff, $alpha: 0.2);
        &.is-active {
          width: 24px;
          background: #fff;
          margin: 0 10px;
        }
      }
    }

    .card{
      &-bottom{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
      }
    }
  }
  .splide:not(.is-overflow) .splide__pagination {
    display: flex;
  }

  .week-card-image{
    //box-shadow: 0px 16px 40px 0px rgba(7, 9, 13, 0.25);
  }

  .modal-language{

  }
}
